* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.flex-container, .flex-space-between, .flex-space-between-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-space-between, .flex-space-between-centered {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-space-between-centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 48px;
  line-height: 72px;
  margin: 0;
  padding-top: 44px;
  text-align: center;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 48px;
  font-weight: 700;
}

.second-button {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 20px;
  height: 48px;
  cursor: pointer;
  border-radius: 8px;
  border: solid 1px #29AEF4;
  background-color: #29AEF4;
}

.second-button:hover {
  background-color: #54BEF5;
  border-color: #54BEF5;
}

.second-button:active {
  background-color: #0298E8;
  border-color: #0298E8;
}

.primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  cursor: pointer;
  border-radius: 8px;
  border: solid 1px #D4364B;
  background-color: #D4364B;
  -webkit-box-shadow: 0px 0px 18px #EF5059;
          box-shadow: 0px 0px 18px #EF5059;
}

.primary-button a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 20px;
}

.primary-button:hover {
  background-color: #E94157;
  border-color: #E94157;
  -webkit-box-shadow: 0px 0px 18px #EF5059;
          box-shadow: 0px 0px 18px #EF5059;
}

.primary-button:active {
  background-color: #C91930;
  border-color: #C91930;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal .modal-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .second-button {
  width: 100%;
}

.modal .modal-footer-text {
  margin: 10px 0;
}

.modal .modal-footer-text a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #D2464E;
}

.bg-container-top {
  width: 100%;
  background-color: rebeccapurple;
}

.bg-container-top .bg-mes {
  width: 100%;
}

.bg-container-top .bg-foreground {
  width: 100%;
  position: absolute;
  top: 0;
}

.bg-container-top .navigation-panel {
  position: relative;
  height: 132px;
}

.bg-container-top .navigation-panel .container {
  height: 100%;
}

.bg-container-top .navigation-panel .container .logo {
  width: 171px;
  height: 24px;
  margin-bottom: 10px;
}

.bg-container-top .navigation-panel .container .nav-link {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #508DB0;
  text-decoration: none;
  padding: 0 20px;
}

.bg-container-top .navigation-panel .container .nav-link.active, .bg-container-top .navigation-panel .container .nav-link:hover {
  color: #D2464E;
}

.bg-container-top .navigation-panel .container .enter {
  padding-right: 28px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.bg-container-top .tagline {
  margin: 0 auto;
  position: relative;
  margin-top: 75px;
}

.bg-container-top .tagline h1 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 64px;
  line-height: 72px;
  margin: 0;
}

.bg-container-top .tagline h3 {
  color: #000;
  margin-top: 12px;
}

.introduction {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 42px;
  color: #0E2F4E;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 48px 0;
}

.groups-section {
  background-color: #15365A;
}

.groups-section h2 {
  color: white;
}

.groups-section .cards .card-item {
  background-color: white;
  width: 260px;
  height: 278px;
  margin: 71px auto 0 auto;
  border: solid 2px #ffffff;
  color: #c4c4c4;
  font-size: 48px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.groups-section .cards .card-item .card-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #15365A;
}

.groups-section .cards .card-item .card-icon-container {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

.groups-section .cards .card-item .football {
  background-image: url(../images/football.jpg);
}

.groups-section .cards .card-item .snowboard {
  background-image: url(../images/snowboard.jpg);
}

.groups-section .cards .card-item .knitting {
  background-image: url(../images/knitting.jpg);
}

.groups-section .cards .card-item .dance {
  background-image: url(../images/dance.jpg);
}

.groups-section .cards .card-item .football ~ .card-user .one-avatar {
  background-image: url(../images/avatar5.jpg);
}

.groups-section .cards .card-item .football ~ .card-user .two-avatar {
  background-image: url(../images/avatar2.jpg);
}

.groups-section .cards .card-item .football ~ .card-user .three-avatar {
  background-image: url(../images/avatar7.jpg);
}

.groups-section .cards .card-item .snowboard ~ .card-user .one-avatar {
  background-image: url(../images/avatar1.jpg);
}

.groups-section .cards .card-item .snowboard ~ .card-user .two-avatar {
  background-image: url(../images/avatar4.jpg);
}

.groups-section .cards .card-item .snowboard ~ .card-user .three-avatar {
  background-image: url(../images/avatar5.jpg);
}

.groups-section .cards .card-item .knitting ~ .card-user .one-avatar {
  background-image: url(../images/avatar5.jpg);
}

.groups-section .cards .card-item .knitting ~ .card-user .two-avatar {
  background-image: url(../images/avatar3.jpg);
}

.groups-section .cards .card-item .knitting ~ .card-user .three-avatar {
  background-image: url(../images/avatar2.jpg);
}

.groups-section .cards .card-item .dance ~ .card-user .one-avatar {
  background-image: url(../images/avatar1.jpg);
}

.groups-section .cards .card-item .dance ~ .card-user .two-avatar {
  background-image: url(../images/avatar2.jpg);
}

.groups-section .cards .card-item .dance ~ .card-user .three-avatar {
  background-image: url(../images/avatar4.jpg);
}

.groups-section .cards .card-item .card-user {
  margin: 10px 0;
  position: relative;
}

.groups-section .cards .card-item .card-user .avatar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42px;
  height: 42px;
  margin: 0 auto;
  border: solid 4px #ffffff;
  border-radius: 50%;
  background-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

.groups-section .cards .card-item .card-user .one-avatar {
  top: 0;
  right: 0;
  left: -120px;
  bottom: 0;
  margin: 0;
}

.groups-section .cards .card-item .card-user .two-avatar {
  top: 0;
  right: 0;
  left: -100px;
  bottom: 0;
  margin: 0;
}

.groups-section .cards .card-item .card-user .three-avatar {
  top: 0;
  right: 0;
  left: -80px;
  bottom: 0;
  margin: 0;
}

.groups-section .cards .card-item .card-user .quantity {
  position: absolute;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #15365A;
  text-decoration: none;
  padding: 0 10px;
  white-space: nowrap;
  top: 10px;
  right: 0;
  left: -20px;
  bottom: 0;
  margin: 0;
}

.groups-section .cloud {
  margin-top: 30px;
  width: 100%;
  height: 230px;
  background-image: url(../images/cloud-top.svg);
  background-size: 102%;
  background-position: bottom;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

.dialog {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 121px;
}

.dialog h2 {
  color: #15365A;
  margin: 52px 0;
  padding: 0;
}

.dialog img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.meeting {
  width: 100%;
}

.meeting img {
  width: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.meeting h2 {
  color: #15365A;
  margin-top: -100px;
  padding-top: 0;
  padding-bottom: 50px;
}

.meeting .steps {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 20px;
}

.meeting .steps .steps-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meeting .steps .steps-card h3 {
  color: #000;
}

.meeting .steps .steps-card span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  text-align: center;
}

.meeting .steps .steps-card .step-image {
  width: 280px;
  height: 280px;
  border: 1px solid white;
  border-radius: 50%;
  background-size: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.meeting .steps .steps-card .circle1 {
  background-image: url(../images/meeting-step1.jpg);
}

.meeting .steps .steps-card .circle2 {
  background-image: url(../images/meeting-step2.jpeg);
}

.meeting .steps .steps-card .circle3 {
  background-image: url(../images/meeting-step3.jpg);
}

.start-button {
  margin-top: 53px;
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choice {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choice .choice-image {
  width: 100%;
}

.choice .choice-title {
  margin-bottom: 100px;
  position: absolute;
  z-index: 3;
  bottom: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
}

.choice .bottom-button {
  margin-bottom: 100px;
  position: absolute;
  z-index: 3;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

footer .site-name {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #508DB0;
  text-decoration: none;
  padding: 0;
}

footer .icon-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #646464;
  font-size: 24px;
}

footer .icon-container:hover {
  color: #D2464E;
}

footer .icon-container .social-icon {
  margin-left: 48px;
}

footer .nav-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .nav-footer .nav-link {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #508DB0;
  text-decoration: none;
  padding: 0 20px;
}

footer .nav-footer .nav-link.active, footer .nav-footer .nav-link:hover {
  color: #D2464E;
}
/*# sourceMappingURL=message.css.map */