@import 'variables';
@import 'base';



.bg-container-top {
    width: 100%;
   
    background-color: rebeccapurple;

    .bg-mes{
        
        width: 100%;
    }
    .bg-foreground { 
        width: 100%;
        position: absolute;
        top: 0
     }
.navigation-panel {
    position: relative;
    height: 132px;

    .container {
        height: 100%;
    
    .logo {
        width: 171px;
        height: 24px;
        margin-bottom: 10px;
    }

    .nav-link {
        font-size: 18px;
        font-family: $roboto;
        color: #508DB0;
        text-decoration: none;
        padding: 0 20px;

        &.active,
        &:hover {
            color: $accent-color;
        }
    }

    .enter {
        padding-right: 28px;
        color: #000;
        font-family: $roboto;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
    }

}
}

.tagline {
    margin: 0 auto;
    position: relative;
    margin-top: 75px;
   
h1 {
    font-family: $fira-sans;
    font-size: 64px;
    line-height: 72px;
    margin: 0;
}

h3 {
    color: #000;
    margin-top: 12px;
}
}
}

.introduction {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: $roboto;
    font-size: 28px;
    line-height: 42px;
    color: #0E2F4E;
    font-weight: 500;
    text-align: center;
    margin: 20px 0 48px 0;
}

.groups-section {
background-color: $dark-color;

h2 {
    color: white;
}

.cards {

.card-item {
    background-color: white;
    width: 260px;
    height: 278px;
    margin: 71px auto 0 auto;
    border: solid 2px #ffffff;
    color: #c4c4c4;
    font-size: 48px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    .card-title {
        font-family: $roboto;
        font-size: 24px;
        line-height: 36px;
        color: $dark-color;
        }

    .card-icon-container {
        width: 140px;
        height: 140px;
        margin: 0 auto;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-size: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
    }
        .football {
            background-image: url(../images/football.jpg);
        }
        .snowboard {
            background-image: url(../images/snowboard.jpg);
        }
        .knitting {
            background-image: url(../images/knitting.jpg);
        }
        .dance {
            background-image: url(../images/dance.jpg);
        }
        
        .football ~ .card-user {

            .one-avatar {
                background-image: url(../images/avatar5.jpg);
            }
            .two-avatar {
                background-image: url(../images/avatar2.jpg);
            }
            .three-avatar {
                background-image: url(../images/avatar7.jpg);
            }
        }

        .snowboard ~ .card-user {

            .one-avatar {
                background-image: url(../images/avatar1.jpg);
            }
            .two-avatar {
                background-image: url(../images/avatar4.jpg);
            }
            .three-avatar {
                background-image: url(../images/avatar5.jpg);
            }
        }

        .knitting ~ .card-user {

            .one-avatar {
                background-image: url(../images/avatar5.jpg);
            }
            .two-avatar {
                background-image: url(../images/avatar3.jpg);
            }
            .three-avatar {
                background-image: url(../images/avatar2.jpg);
            }
        }

        .dance ~ .card-user {

            .one-avatar {
                background-image: url(../images/avatar1.jpg);
            }
            .two-avatar {
                background-image: url(../images/avatar2.jpg);
            }
            .three-avatar {
                background-image: url(../images/avatar4.jpg);
            }
        }

        .card-user {
            margin: 10px 0;
            position: relative;


            .avatar {
                position: absolute;
                display: flex;
                width: 42px;
                height: 42px;
                margin: 0 auto;
                border: solid 4px #ffffff;
                border-radius: 50%;
                background-size: 100%;
                object-fit: cover;
                background-repeat: no-repeat;
    
            }
            .one-avatar {
                top: 0;
                right: 0;
                left: -120px;
                bottom: 0;
                margin: 0;
            }

            .two-avatar {
                top: 0;
                right: 0;
                left: -100px;
                bottom: 0;
                margin: 0;
            }
            .three-avatar {
                top: 0;
                right: 0;
                left: -80px;
                bottom: 0;
                margin: 0;
            }

            .quantity {
                position: absolute;
                margin: 0 auto;
                font-size: 18px;
                font-family: $roboto;
                font-weight: 700;
                color: $dark-color;
                text-decoration: none;
                padding: 0 10px;
                white-space: nowrap;
                top: 10px;
                right: 0;
                left: -20px;
                bottom: 0;
                margin: 0;
            }
        }
}
}

.cloud {
    margin-top: 30px;
    width: 100%;
    height:230px;
    background-image: url(../images/cloud-top.svg);
    background-size: 102%;
    background-position:bottom;
    object-fit:cover;
    background-repeat: no-repeat;
}
}

.dialog {
    flex-direction: column;
    margin-bottom: 121px;

h2 {
    color: $dark-color;
    margin: 52px 0;
    padding: 0;
}

    img {
        max-width: 100%;
  height: auto;
  margin: 0 auto;
    }
}

.meeting {
width: 100%;

    img {
        width: 100%;
        transform: rotateY(180deg);
    }

    h2 {
        color: $dark-color;
        margin-top: -100px;
        padding-top: 0;
        padding-bottom: 50px;
}

.steps {
    display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 20px;

        .steps-card {
            flex-direction: column;
            align-items: center;

            h3 {
                color: #000;
            }

            span {
                font-family: $roboto;
                font-size: 16px;
                line-height: 24px;
                margin: 0;
                text-align: center;
            }

        .step-image {
            width: 280px;
            height: 280px;
            border: 1px solid white;
            border-radius: 50%;
            background-size: 100%;
            object-fit: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .circle1 {
            background-image: url(../images/meeting-step1.jpg);
        }

        .circle2 {
            background-image: url(../images/meeting-step2.jpeg);
        }

        .circle3 {
            background-image: url(../images/meeting-step3.jpg);
        }
        }
}

}

.start-button {
    margin-top: 53px;
    margin-bottom: 21px;
    display: flex;
    justify-content: center;
}


.choice {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

.choice-image{
    width: 100%;
}

.choice-title{
    margin-bottom: 100px;
     position: absolute;
     z-index: 3;
     bottom: 65%;
     left: 50%;
     transform: translateX(-50%);
     color: #ffffff;
 
 }

.bottom-button{
   margin-bottom: 100px;
    position: absolute;
    z-index: 3;
    bottom: 10%;
    transform: translateX(-50%);
    left: 50%;

}
}

footer {
    .site-name {
        align-self: flex-end;
        font-size: 18px;
            font-family: $roboto;
            color: #508DB0;
            text-decoration: none;
            padding: 0;
    }

    .icon-container {
        align-self: flex-end;
        color: #646464;
        font-size: 24px;

        &:hover {
            color: $accent-color;
        }

        .social-icon {
            margin-left: 48px;
        }
    }

    .nav-footer{
        flex-direction: column;

        .nav-link {
            font-size: 18px;
            font-family: $roboto;
            color: #508DB0;
            text-decoration: none;
            padding: 0 20px;
    
            &.active,
            &:hover {
                color: $accent-color;
            }
        }
    }
}

